build/
bin/
cache/
.cache/
output/**/raw_scan/
output/**/det_grid*.csv
plots/
*.o
*.so
*.a
*.bin
*.dat
*.npy
*.npz
*.h5
*.root
/media/
logs/*.tmp
*.swp
*.swo
*.bak
*.orig
*.DS_Store
__pycache__/
*.pyc
